col_white{color:#ffffff;}
col_section{color:#666666;} /*for section names*/
col_medium{color:#999999;}  /*for contact banner*/
col_dark{color:#111111;}    /*not used*/
col_strong{color:#ffffff;}  /*for my name*/
col_item{color:#5972b1;}    /*item titles*/

#imagebox1{
	width: 180px;
	height: 180px;
	margin-right:10px;
	margin-bottom:10px;
	color:#ffffff;
	float:left;
}

#imageboxover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,333333+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

	width:160px;
	height:180px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	display: table-cell;
    vertical-align: bottom;
	color:rgba(0,0,0,0);
	/*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
}

#imageboxover:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5972b1+0,5972b1+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(89,114,177,0) 0%, rgba(89,114,177,1) 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(89,114,177,0) 0%,rgba(89,114,177,1) 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(89,114,177,0) 0%,rgba(89,114,177,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005972b1', endColorstr='#5972b1',GradientType=0 ); /* IE6-9 */
	text-shadow:none;
	color:rgba(255,255,255,1);
}

#headerwrap{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7152c6+0,5972b1+46,52c6bb+97 */
background: #5972b1; /* Old browsers */
background: -moz-linear-gradient(left,  #7152c6 0%, #5972b1 46%, #52c6bb 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #7152c6 0%,#5972b1 46%,#52c6bb 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #7152c6 0%,#5972b1 46%,#52c6bb 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7152c6', endColorstr='#52c6bb',GradientType=1 ); /* IE6-9 */

	font-family: Arial, Helvetica, sans-serif;
	font-size:1em;
	color: #ffffff;
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	right:0;
	border-top-width:5px;
	border-top-color:rgba(0,0,0,0);
	border-top-style:solid;
}

#bottomwrap{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7152c6+0,5972b1+46,52c6bb+97 */
background: #5972b1; /* Old browsers */
background: -moz-linear-gradient(left,  #7152c6 0%, #5972b1 46%, #52c6bb 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #7152c6 0%,#5972b1 46%,#52c6bb 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #7152c6 0%,#5972b1 46%,#52c6bb 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7152c6', endColorstr='#52c6bb',GradientType=1 ); /* IE6-9 */
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	height: 25px;
	border-top-width:2px;
	border-top-color:rgba(0,0,0,0);
	border-top-style:solid;

}


headertext{
	margin-left: 50px;
	margin-right: 50px;
}

bottomtext{
	margin-left: 50px;
	margin-right: 50px;
	bottom: 1;
	font-size:1.2em;
}

#text1 {
	font-family: Arial, Helvetica, sans-serif;
}

selheadlink{
	background-color: #f7f7f7;
    padding: 15px 25px;
    text-align: center; 
    text-decoration: none;
	font-weight:bold;
    display: inline-block;
    color: #5972b1;
}

::-webkit-scrollbar { 
    display: none; 
}

body{
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin-left:0;
	margin-right:0;
	color: #111111;
	background-color:#F7F7F7
}

/*unvisited link*/
#headerwrap a:link {
    padding: 15px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

/* visited link */
#headerwrap a:visited {
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

/* mouse over link */
#headerwrap a:hover {
	background-color: rgba(255,255,255,0.3);
    padding: 15px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

/* selected link */
#headerwrap a:active {
	background-color: #333333;
    padding: 15px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}

#box1{
	background:#FFFFFF/*rgba(255, 255, 255, 0.8)*/;
	padding-top:10;
	padding-bottom:10;
	padding-left:10;
	padding-right:10;
	/*border-left-width:2px;
	border-left-color:#333333;
	border-left-style:solid;*/
}

#box2{
	background:#FFFFFF/*rgba(255, 255, 255, 0.8)*/;
	padding-top:10;
	padding-bottom:10;
	padding-left:30;
	padding-right:30;
	/*border-left-width:2px;
	border-left-color:#333333;
	border-left-style:solid;*/
}

#sublinks{
	font-size: 0.8em;
	background: #F7F7F7;/*rgba(200,200,200,0.6)*/;
	/*font-weight: bold;*/
	position:absolute;
	bottom:-29;
	width:100%;
	text-align:center;
	color: #999999;
	border-top-width:4px;
	border-top-color:#F7F7F7;
	border-top-style:solid;
}

/*unvisited link*/
#sublinks a:link {
	background-color: rgba(0,0,0,0);
    padding: 5px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #666666;
}

/* visited link */
#sublinks a:visited {
	background-color: rgba(0,0,0,0);
    padding: 5px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #666666;
}

/* mouse over link */
#sublinks a:hover {
	background-color: rgba(0,0,0,0);
	font-weight: bold;
    padding: 5px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #5972b1;
}

/* selected link */
#sublinks a:active {
	background-color: rgba(0,0,0,0);
    padding: 5px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    color: #FF3300;
}

#text1 a:hover{
	background-color: rgba(0,0,0,0);
    padding: 0px 0px;
    text-align: center; 
    text-decoration: none;
}

#box3{
	float:left;
	width: 32%;
	background:#333333;
	border-left-width:5px;
	border-left-color:#111111;
	border-left-style:solid;
	border-right-width:5px;
	border-right-color:#111111;
	border-right-style:solid;
	border-top-width:5px;
	border-top-color:#111111;
	border-top-style:solid;
	border-bottom-width:5px;
	border-bottom-color:#111111;
	border-bottom-style:solid;
	text-align:center;
	font-size:0.9em;
	font-weight:bold;
	color:#efefef;
}

#short2{
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	margin-left:20%;
	margin-right:20%;
	padding-left:40;
	padding-right:40;
	padding-top:40;
	padding-bottom:40;
}

#short1{
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	background: #333333; /* Old browsers */
}

short_title{
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:1.4em;
}

short_sumyear{
	font-family: Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:1.1em;
}

#bottomwrap a:link{
	color:#ffffff;
}

#bottomwrap a:hover{
	color:#ffffff;
}

#bottomwrap a:visited{
	color:#ffffff;
}

#bottomwrap a:active{
	color:#ffffff;
}

#linkwrap a:link{
	color:#ffffff;
	font-size:3em;
}

#linkwrap a:hover{
	color:#ffffff;
}

#linkwrap a:visited{
	color:#ffffff;
}

#linkwrap a:active{
	color:#ffffff;
}

#contactbanner{
	background: #5972b1; /* Old browsers */
background: -moz-linear-gradient(left,  #7152c6 0%, #5972b1 46%, #52c6bb 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #7152c6 0%,#5972b1 46%,#52c6bb 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #7152c6 0%,#5972b1 46%,#52c6bb 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7152c6', endColorstr='#52c6bb',GradientType=1 ); /* IE6-9 */
	text-align:center;
	position:fixed;
	top:25%;
	bottom:25%;
	left:0%;
	right:0%;
	padding-top:3%;
}

#box1 a:link{
	color:#5972b1;
}

#box1 a:hover{
	color:#5972b1;
}

#box1 a:visited{
	color:#5972b1;
}

#box1 a:active{
	color:#5972b1;
}